* {
    padding: 0;
    margin: 0;
}

.header {
    background: #fcdada;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-bottom: 10px;
    position: fixed;
    left: 0;
    top: 0;
}

.header-momo {
    color: black;
    margin-left: 25px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 700;
    display: inline;
}

.content {
    padding: 16px;
  }

.sticky + .content {
    padding-top: 102px;
  }

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

.nav-link { 
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.links {
    padding-left: 25px;
    font-size: 12px;
    text-decoration: none;
    color: black;
}

footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: relative;
    background: #fcdada;
    overflow: hidden;
    /* height: 80px; */
    height: 100%;
}

.insta-img {
    width: 30px;
    padding-bottom: 15px;
    padding-top: 5px;
}

.fa-instagram {
    font-size: 35px;
    color: black;
    padding-bottom: 5px;
    padding-top: 5px;
}

.fa-instagram:hover {
    color: white;
}

.copyright {
    padding-top: 10px;
}


.main-section {
    position: relative;
    height: 500px;
    background: #ffa5a5;
    text-align: center;
}

.why-section {
    position: relative;
    width: 100%;
    background: #fbe2e5;
    text-align: center;
}

.contact-section {
    position: relative;
    width: 100%;
    background: #fcdada;
    margin-bottom: 0;
    text-align: center;
}

.recent-section {
    position: relative;
    width: 100%;
    height: 100%;
    background: #ffa5a5;
    text-align: center;
}

.recent-heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.recent-img {
    width: 75%;
    border-radius: 5%; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

.container-fluid {
    padding-top: 25px;
    padding-bottom: 5px;
}

.recent-title {
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin-top: 50px;
}

.recent-p {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.why-image {
    max-width: 90%;
    min-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 5% 5% 5% 5%; 
    box-shadow: 10px 10px 5px grey;
}

@media only screen and (max-width: 500px) {
    .why-image {
        width: 350px;
        min-width: 0;
        max-width: 350px;
    }
}

.why-heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
@media screen and (max-width: 500px) {
    .why-heading {
        padding-top: 25px;
        padding-bottom: 25px;
    }
  }

.why-p {
    font-family: 'Open Sans', sans-serif;
    /* width: 80%; */
    text-align: center;
    min-width: 380px;
    margin-right: auto;
    margin-left: auto;
    margin-right: 25px;
    margin-left: 25px;
    height: auto;
    font-size: 18px;
    padding-bottom: 25px;
}

@media only screen and (max-width: 480px) {
    .why-p {
        min-width: 200px;
        margin-right: 25px;
        margin-left: 25px;
    }
}

.contact-heading {
    position: relative;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
}

.contact-subheading {
    position: relative;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    /* padding-top: 10px; */
    padding-bottom: 10px;
}

.contact-t {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;;
}

.contact-p {
    position: relative;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    min-width: 380px;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    font-size: 15px;
    /* padding-bottom: 5px; */
}

.dec-img {
    width: 100px;
    opacity: 0.5;
    position: absolute;
    padding-top: 50px;
    right: 92%;
}

.main-t {
    position: absolute;
    z-index: 1;
    padding-top: 170px;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 60px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black;
}


.main-p {
    position: relative;
    font-size: 35px;
    z-index: 3;
    padding-top: 250px;
    font-family: 'Niconne', cursive;
    text-align: center;
    font-style: italic;
    color: black;
}

@media screen and (max-width: 790px) {
    .main-t {
        font-size: 45px;
    }
    .main-p {
        font-size: 25px;
    }
  }

img.needle-logo {
    position: relative;
    z-index: 0;
    margin-top: -200px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
}

/* with full background image on main section */
/* img.needle-logo-two {
    position: relative;
    z-index: 0;
    margin-top: -400px;
    width: 100%;
    display: block;
    opacity: 0.5;
    background-size: contain;
} */

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
/*colour of nav-bar links */
nav .navbar-nav a {
    color: black !important;
    font-family: 'Open Sans', sans-serif !important;
    }