* {
    padding: 0;
    margin: 0;
}

/* for main colour background: #c56183; */

.header {
    background: #fcdada;
    /* height: 50px; */
    padding-top: 10px;
    padding-bottom: 15px;
    padding-bottom: 10px;
}

.header-momo {
    color: black;
    margin-left: 50px;
    /* width: 150px; */
    /* float: left; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    display: inline;
}

.header-links {
    float: right;
    margin-right: 50px;
    font-family: 'Open Sans', sans-serif;
    /* display: inline; */

}

.links {
    padding-left: 25px;
    font-size: 12px;
    text-decoration: none;
    color: black;
}

footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    background: #fcdada;
    height: 75px;
}

.insta-img {
    width: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.copyright {
    padding-top: 1px;
}

.main-section {
    height: 500px;
    background: #ffa5a5;

}

.main-t {
    padding-top: 170px;
    font-weight: 700;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
}


.main-p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-style: italic;
    color: white;
}